@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: "Plymouth Serial Regular";
  src: url("./assets/font/plymouth-serial_regular-webfont.woff2")
      format("woff2"),
    url("./assets/font/plymouth-serial_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Plymouth Serial Regular", sans-serif;
  font-size: 20px;
  color: #104741;
}

.container {
  > div {
    height: calc(100 / 3) * 1%;
  }

  .subheading {
    font-weight: 100;
    max-width: 696px;
  }

  div:nth-child(2) {
    gap: 40px;

    > div {
      max-width: 485px;
    }

    a {
      padding-top: 25px;
      padding-bottom: 25px;
      background-color: #104741;

      &:hover {
        background-color: #0c3a33;
      }

      &:active {
        background-color: #0a2f2a;
      }
    }
  }
}
