@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: "Public Sans";
  src: url("../assets/font/public-sans.regular-webfont.woff2") format("woff2"),
    url("../assets/font/public-sans.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$green: #104741;
$grey: #f1f1f1;

:root {
  font-size: 20px;
}

body {
  font-family: "Public Sans", sans-serif;
  color: #000;
}

.logo {
  max-width: 100px;
}

.subtitle {
  max-width: 696px;
}

.btn {
  padding: 20px 30px;

  &.btn-small {
    padding: 15px;
  }

  &.btn-icon {
    padding: 8px;

    .navbar-toggler-icon {
      filter: invert(20%) sepia(19%) saturate(1635%) hue-rotate(124deg)
        brightness(96%) contrast(90%) opacity(50%);
    }

    &:hover {
      background-color: $green;

      .navbar-toggler-icon {
        filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(218deg)
          brightness(103%) contrast(103%);
      }
    }
  }
}

.btn-green {
  background-color: $green;

  &:hover {
    background-color: darken($green, 2.5%);
  }

  &:active {
    background-color: darken($green, 5%) !important;
  }
}

.bg-grey {
  background-color: $grey;
}

.btn-grey {
  background-color: $grey;

  &:hover {
    background-color: darken($grey, 3.75%);
  }

  &:active {
    background-color: darken($grey, 7.5%) !important;
  }
}

.form-control {
  padding: 20px 30px;

  &.form-control-small {
    padding: 20px;
  }
}

.icon {
  height: 35px;
  width: 35px;
}

.pagination-circle {
  color: #d2d2d2;

  &.active {
    color: $green;
  }
}
