$green: #104741;
$grey: #10474180;

:root {
  font-size: 16px;
}

.main {
  min-height: 100vh;
  width: 100%;
  padding: 50px;
  overflow: hidden;
  border-left: 0.5px solid $grey;
}

.sidebar {
  width: 345px;
  min-width: 345px;
  padding: 50px;
  background-color: #fff;
}

a.sidebar-link {
  padding: 20px 30px;
  color: $grey;
  display: block;
  font-size: 1rem;

  i {
    font-size: 1.25rem;
    margin-right: 20px;
  }

  &.active {
    background-color: $green;
    color: #fff;
  }

  &:hover {
    background-color: $green;
    color: #fff;
  }

  &:active {
    background-color: #0a2f2a !important;
    color: #fff !important;
  }
}

.alert {
  background-color: #34a853;
  color: #fff;
}

.tab,
.intro {
  gap: 20px;
}

.tab-title {
  padding: 10px 20px;
  border-bottom: 1.5px solid #000;
}

// Create a media query for smaller screens
@media (max-width: 425px) {
  .main {
    padding: 30px;
  }

  .sidebar {
    width: 100%;
    min-width: 100%;
    padding: 30px;
  }
}
