.container {
  > div {
    height: calc(100 / 3) * 1%;
  }

  .subheading {
    font-weight: 100;
    max-width: 696px;
  }

  div:nth-child(2) {
    gap: 40px;

    > div {
      max-width: 485px;
    }
  }
}
